.item-list-container{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  align-items: stretch; /* <--- CRÍTICO: Estira los ítems flexibles */
  gap: 1rem;
  flex-wrap: wrap;
  row-gap: 30px;
  margin-bottom: 60px;
}

.item-list-container h2 {
  width: 100%;
  text-align: center;
  margin: 1rem;
}

.btn-container {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.total-pagar {
  width: 100%;
  text-align: center;
}