.product-item {
  display: flex;
  flex-direction: column; /* Apila los elementos verticalmente */
  height: 100%; /* <--- CRÍTICO: Usa toda la altura proporcionada por el contenedor padre */
  background-color: #1e1e1e; /* Gris más claro que el fondo */
  border: 1px solid #333;
  border-radius: 0.5rem;
  padding: 1rem;
  max-width: 15.625rem; /* 250px */
  color: #f5f5f5;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  gap: 1rem;
}

.product-item img {
  /*width: 100%; */
  /*height: auto; /* mantiene proporción */ 
  height: 50%; /* mantiene proporción */
  object-fit: cover; /* Asegura que la imagen cubra el espacio sin distorsionarse */
  display: block; 
}

.product-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
}

.product-item a {
  text-decoration: none;
  color: inherit;
  display: block; /*hacemos que el link tome todo el bloque del article y sea clickeable*/
}

.product-item p {
 /*flex-grow: 1; /* <--- CRÍTICO: Hace que este elemento tome todo el espacio vertical restante */
  margin: 0.25rem 0; /* 6px */
}

.product-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #ffcc66;
}

.product-actions {
  margin-top: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.product-actions .btn .btn-add {
  margin: 1rem;
}