.item-list {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: stretch; /* <--- CRÍTICO: Estira los ítems flexibles */
  gap: 1rem;
  flex-wrap: wrap;
  row-gap: 50px;
  /* margin-bottom: 120px; */
}